@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*
{
    margin: 0%;
    padding: 0%;
}
body
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#Header, #Footer
{
    position: absolute;
    width: 100%;
    color: #ffffff;
}
#Header
{
    background-color: #434343;
    height: 10vh;
}

#Footer
{
    background-color: #17d4af;
    height: 10vh;
    bottom: 0;
    display: flex;
    align-items: center;
}

#Header h2
{
    position: absolute;
    margin-top: 15px;
    margin-left: 10px;
}

#Footer h2
{
    position: absolute;
    text-align: left;
    margin-left: 40px;
    background-color: #17d4af;
}

.nav1
{
    position: absolute;
    width: 50%;
}

.nav-top
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 24px;
    left: 140%;
    top: 15px;
    width: 60%;
}

.nav-top2
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 24px;
    left: 140%;
    top: 15px;
    width: 60%;
}

.nav2
{
    position: absolute;
    width: 40%;
}

.nav-bot
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 24px;
    left: 170%;
    top: 25px;
    width: 70%;
}

.nav-bot2
{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-size: 24px;
    left: 150%;
    top: 25px;
    width: 70%;
}

.chat-bubble
{
    position: relative;
    left: 220%;
    width: 40px;
    height: auto;
    bottom: 10px;
}

.profilepng
{       
    position: relative;
    padding-left: 20%;
    right: 15%;
}

.profilepng2
{       
    position: relative;
    padding-left: 20%;
}

.navitem
{
    display: flex;
    text-decoration: inherit;
    color: #ffffff;
}

.navitem2
{
    text-decoration: inherit;
    color: #ffffff;
}

.navitem:hover
{
    color: rgb(165, 165, 165);
}

.navitem2:hover
{
    color: rgb(165, 165, 165);
}

.navborder
{
    padding: 6px;
    border-radius: 12px;
    background-color: #17d4af;
}

.logo2
{
    position: absolute;
    left: 0.4%;
    top: auto;
    height: 60px;
    width: 60px;
}

#profile
{
    position: absolute;
    left: 5%;
    height: 50vh;
    top: 120px;
}

#profilepic
{
    display: flex;
    width: 100%;
}

.editprofile
{
    color: #ffffff;
    font-size: 30px;
}

#up
{
    top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editprofile
{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px #17d4af;
    border-radius: 1rem;
    background-color: #17d4af;
    width: 80%;
    margin-top: 10%;
}

.ulprof
{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    list-style: none;
    height: 30%;
    width: 100%;
    margin-left: 5%;
    font-size: 20px;
}

.ulprof>li
{
    margin: 9.5px;
}

#SignupB
{
    display: flex;
    height: 100vh;
    background-color: #434343;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-right: 100px;
}

#welcomepic
{
    margin-top: 25px;
}

#insignup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #17d4af;
    height: 70%;
    width: 32%;
}

.form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    width: 80%;
}

.inform
{
    display: flex;
    flex-direction: column;
}

#SignupB>div
{
    color:  #fffeff;
}

#su
{
    font-weight: 600;
    font-size: 50px;
    color:  #fffeff;
}
.inform>label
{
    color: #fffeff;
}
.inform>input
{
    padding: 6px;
    border-radius: 0.5rem;
    color:  black;
}

.button>label
{
    color:  #fffeff;
}

.buttong
{
    display: flex;
    flex-direction: row;

}

.inputradio
{
    margin-left: 10px;
}
.buttong>label
{
    color:  #fffeff;
}

#ge
{
    color:  #fffeff;
}


#subb:hover
{
    background-color: beige;
}

.registerbutton
{
    padding: 5px;
    background-color: #434343;
    color: #fffeff;
    border: 1px solid #434343;
    border-radius: 0.5rem;
    font-size: 30px;
    width: 30%;
}

#imageslider
{
    position: static;
    overflow: hidden;
    white-space: nowrap;
    width: 100w;
    height: 100vh;
}

.slider
{
    display: inline-flex;
    background-position: center;
    background-size: contain;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    /* top: 100%; */
    /* margin-top: 6%; */
}

#image1 
{
    background-image: url('../Png/People1.jpg');
}
  
#image2 
{
    background-image: url('../Png/Event1.jpg');
}
  
#image3 
{
    background-image: url('../Png/People2.jpg');
}

.arrow 
{
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
    width: 5%;
    top: 50%;
}
  
#rightarrow 
{
    right: 20px;
}
  
#leftarrow 
{
    left: 20px;
}

@media (max-device-width: 1024px) 
{
    .arrow 
    {
      width: 20%;
    }
}
  
@media (max-width: 768px) 
{
    .arrow
    {
      width: 10%;
    }
}


